In [5]:
import pandas as pd

In [17]:
df = pd.read_excel('State_Policy_Data/dataset_state_alcohol_policies_in_response_to_covid-19_210415.xlsx', 'Policy Changes Since 1-1-2020')

colnames = ['State', 'FIPS Code', 'Date', 
    'Rest. Open', 'Rest. Capacity', 'Rest. Food', 'Rest. Hours', 'Rest. Outdoors Only', 'Rest. Takeout', 'Rest. Delivery',
    'Bar Open', 'Bar Capacity', 'Bar Food', 'Bar Hours', 'Bar Outdoors Only', 'Bars Takeout', 'Bars Delivery',
    'Store Open', 'Store Delivery']

df.columns = colnames
df = df.drop(list(range(4)), axis=0)

In [21]:
df.head(20)

,State,FIPS Code,Date,Rest. Open,Rest. Capacity,Rest. Food,Rest. Hours,Rest. Outdoors Only,Rest. Takeout,Rest. Delivery,Bar Open,Bar Capacity,Bar Food,Bar Hours,Bar Outdoors Only,Bars Takeout,Bars Delivery,Store Open,Store Delivery
4,AL,1,2020-01-01 00:00:00,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0
5,AL,1,2020-03-17 00:00:00,2,0,0,0,0,0,0,2,0,0,0,0,0,0,1,0
6,AL,1,2020-03-19 00:00:00,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
7,AL,1,2020-03-24 00:00:00,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0
8,AL,1,2020-05-11 00:00:00,1,0,0,0,0,1,0,1,0,0,0,0,1,0,1,0
9,AL,1,2020-08-01 00:00:00,1,0,0,1,0,1,0,1,0,0,1,0,1,0,1,0
10,AL,1,2020-09-15 00:00:00,1,0,0,1,0,0,0,1,0,0,1,0,0,0,1,0
11,AL,1,2020-09-29 00:00:00,1,1,0,0,0,0,0,1,1,0,0,0,0,0,1,0
12,AL,1,2020-11-08 00:00:00,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0
13,AL,1,2020-12-14 00:00:00,1,0,0,0,0,1,0,1,0,0,0,0,1,0,1,0
14,AL,1,2021-01-04 00:00:00,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0
15,AK,2,2020-01-01 00:00:00,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,1
16,AK,2,2020-03-18 00:00:00,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1
17,AK,2,2020-04-16 00:00:00,0,0,0,0,0,1,1,0,0,0,0,0,1,1,1,1
18,AK,2,2020-04-24 00:00:00,1,1,0,0,0,1,1,0,0,0,0,0,1,1,1,1
19,AK,2,2020-05-11 00:00:00,1,1,0,0,0,1,1,1,1,0,0,0,1,1,1,1
20,AK,2,2020-05-22 00:00:00,1,0,0,0,0,1,1,1,0,0,0,0,1,1,1,1
21,AK,2,2021-02-14 00:00:00,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,1
22,AZ,4,2020-01-01 00:00:00,1,0,0,0,0,0,0,1,0,0,0,0,1,1,1,1
23,AZ,4,2020-03-20 00:00:00,2,0,0,0,0,1,1,2,0,0,0,0,1,1,1,1